# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
.env
infra/ansible/ec2_launch_playbook.yml
infra/ansible/test.yml
infra/terraform-backend/
infra/terraform/.terraform/
infra/terraform/*.tfvars
infra/terraform/*..auto.tfvars
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
